---
import { getPokemon } from "../services/api";
import type { PokemonSchema, Result } from "../types/api";

interface PokeCardProps {
  name: string;
}
const { name } = Astro.props as Result;

const pokemon = await getPokemon(name)

const typeStyles: { [key: string]: string } = {
  normal: "bg-gray-400 text-black",
  fighting: "bg-orange-600 text-white",
  flying: "bg-blue-400 text-black",
  poison: "bg-purple-600 text-white",
  ground: "bg-yellow-800 text-white",
  rock: "bg-yellow-700 text-white",
  bug: "bg-lime-400 text-black",
  ghost: "bg-purple-800 text-white",
  steel: "bg-gray-600 text-white",
  fire: "bg-red-600 text-white",
  water: "bg-blue-500 text-white",
  grass: "bg-green-400 text-black",
  electric: "bg-yellow-400 text-black",
  psychic: "bg-pink-500 text-white",
  ice: "bg-blue-200 tetx-black",
  dragon: "bg-purple-700 text-white",
  dark: "bg-gray-800 text-white",
  fairy: "bg-pink-300 text-black",
  shadow: "bg-gray-900 text-white",
};
---
<a class="block rounded-lg bg-[#d8d8d8] transition delay-100 duration-300 ease-in-out 
            hover:-translate-y-1 hover:scale-105"
    href={`pokemon/${pokemon.name}`}>
  <picture>
    <img
      class="rounded-t-lg"
      src={pokemon.sprites.other?.["official-artwork"]?.front_default || ""}
      alt=`Imagen de ${pokemon.name}`
    />
  </picture>
  <div class="flex flex-row justify-between px-6">
    <h5 class="mb-2 text-xl font-medium leading-tight first-letter:uppercase">
      {name}
    </h5>
    <p class="font-semibold text-gray-400">#{pokemon.id}</p>
  </div>
  <div class="px-6 mb-5">
    {
      pokemon.types.map((type) => (
        <span
          class={`uppercase inline-block px-2 py-1 mr-2 text-xs font-semibold rounded-full ${typeStyles[type.type.name]}`}
        >
          {type.type.name}
        </span>
      ))
    }
  </div>
</a>
